In [1]:
#pip install datalib

In [7]:
import seaborn as sns
df = sns.load_dataset('titanic', data_home='your_cache_folder_path')

In [8]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
#pip install dtale

In [ ]:
import dtale
dtale.show(df)

2024-11-02 17:30:45,351 - INFO     - Executing shutdown due to inactivity...
2024-11-02 17:30:49,655 - INFO     - Executing shutdown...
2024-11-02 17:30:49,660 - INFO     - Not running with the Werkzeug Server, exiting by searching gc for BaseWSGIServer
2024-11-02 17:30:50,095 - ERROR    - weakly-referenced object no longer exists
2024-11-02 17:30:50,097 - ERROR    - weakly-referenced object no longer exists
2024-11-02 17:30:50,098 - ERROR    - weakly-referenced object no longer exists
2024-11-02 17:30:50,099 - ERROR    - weakly-referenced object no longer exists

In [4]:
import seaborn as sns 
df1=sns.load_dataset('tips')

In [5]:
from pandas_profiling import ProfileReport
profile = ProfileReport(df1,explorative=True)
profile.to_file("output.html")

C:\Users\Admin\AppData\Local\Temp\ipykernel_5012\313867745.py:1: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [10]:
import sweetviz as sv 
report=sv.analyze(df)
report.show_html('sweet_report.html')

                                             |          | [  0%]   00:00 -> (? left)

Report sweet_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.